<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="name">Name</label>
        <div class="col-sm-10">
            <input id="name" class="form-control" placeholder="Name" ng-model="contact.name" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="email">Email</label>
        <div class="col-sm-10">
            <input id="email" class="form-control" placeholder="Email" type="email" ng-model="contact.email" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="phone">Phone</label>
        <div class="col-sm-10">
            <input id="phone" class="form-control" placeholder="Phone" ng-model="contact.phone" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="address">Address</label>
        <div class="col-sm-10">
            <input id="address" class="form-control" placeholder="Address" ng-model="contact.address" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="birthday">Birthday</label>
        <div class="col-sm-10">
            <input id="birthday" class="form-control" placeholder="Birthday" ng-model="contact.birthday" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="website">Website</label>
        <div class="col-sm-10">
            <input id="website" class="form-control" placeholder="Website" ng-model="contact.website" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="notes">Notes</label>
        <div class="col-sm-10">
            <textarea id="notes" class="form-control" placeholder="Notes" rows="3" ng-model="contact.notes"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary" ng-click="submit()">Save</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</form>